/src/WebService/.idea/workspace.xml
src/WebService/.idea/workspace.xml
src/WebService/AndroidExperimentationWS.iml

/src/dynamix_framework/dynamix-framework/bin
/src/sensorPlugins/GpsPlugin/bin
src/androidExperimentation/bin/classes/eu
src/sensorPlugins/myExperimentPLugin/bin
src/sensorPlugins/WifiScanPlugin/bin
src/sensorPlugins/myExperimentPlugin/bin
src/androidExperimentation/bin/jarlist.cache
