<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.smartsantander.androidExperimentation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="eu.smartsantander.androidExperimentation.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="profileTab"
            android:name="eu.smartsantander.androidExperimentation.tabs.profileTab" >
        </activity> 
        
        <activity
            android:label="dynamixTab"
            android:name="eu.smartsantander.androidExperimentation.tabs.dynamixTab" >
        </activity> 
        
        <activity
            android:label="jobsTab"
            android:name="eu.smartsantander.androidExperimentation.tabs.jobsTab" >
        </activity> 
        
        <activity
            android:label="reportTab"
            android:name="eu.smartsantander.androidExperimentation.tabs.reportTab" >
        </activity> 
        
        <activity
            android:label="securityTab"
            android:name="eu.smartsantander.androidExperimentation.tabs.securityTab" >
        </activity> 
        		   
		<service android:name="eu.smartsantander.androidExperimentation.MainService">
    		<intent-filter>
        		<action android:name="eu.smartsantander.androidExperimentation.MainService"/>
    		</intent-filter>
    	</service>         		   
        		        
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest>
