<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="connection.url">jdbc:mysql://localhost:3306/androidExperimentation</property>
      <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="connection.username">android</property>
      <property name="connection.password">androidandroid</property>
      <property name="connection.autocommit">true</property>
      <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="c3p0.testConnectionOnCheckout">true</property>
      <property name="hibernate.connection.release_mode">after_transaction</property>
      <mapping resource="eu/smartsantander/androidExperimentation/entities/ExperimentsEntity.hbm.xml"/>
      <mapping resource="eu/smartsantander/androidExperimentation/entities/PluginsEntity.hbm.xml"/>
      <mapping resource="eu/smartsantander/androidExperimentation/entities/ResultsEntity.hbm.xml"/>
      <mapping resource="eu/smartsantander/androidExperimentation/entities/SmartphonesEntity.hbm.xml"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>